In [1]:
import pandas as pd
import gmaps 
from config import gkey

In [2]:
#API_KEY = 'your api key'
gmaps.configure(api_key=gkey) # Your Google API key

In [3]:
df=pd.read_csv('df_ld.csv', low_memory=False)  # read geocoded location from file
df.head()

,Unnamed: 0,Category,Descript,DayOfWeek,Date,Time,PdDistrict,X,Y,PdId,Year
0,9,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Saturday,2015-01-31,17:00,CENTRAL,-122.417295,37.786258,15009826006362,2015
1,10,LARCENY/THEFT,PETTY THEFT SHOPLIFTING,Sunday,2015-02-01,14:00,MISSION,-122.413354,37.769075,15009834506362,2015
2,18,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Sunday,2015-02-01,14:30,PARK,-122.458639,37.767200,15009839506243,2015
3,35,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Friday,2015-01-30,22:00,PARK,-122.446484,37.750130,15009847006244,2015
4,46,LARCENY/THEFT,PETTY THEFT FROM LOCKED AUTO,Sunday,2015-02-01,16:44,SOUTHERN,-122.392304,37.782597,15009855506242,2015

In [11]:
df = df[['X', 'Y']]
sample = df.sample(20000)
sample.head()

                 X          Y
58912  -122.501139  37.738189
395984 -122.407634  37.784189
461633 -122.472479  37.743189
291747 -122.412527  37.808625
425822 -122.413189  37.771274

In [12]:
sample['weight'] = 1
sample.head()

                 X          Y  weight
58912  -122.501139  37.738189       1
395984 -122.407634  37.784189       1
461633 -122.472479  37.743189       1
291747 -122.412527  37.808625       1
425822 -122.413189  37.771274       1

In [13]:
locations = sample[['Y', 'X']]          # put latitide and longitude as a variable name 'locations'
val = sample['weight']                                 # put the weight into variable name 'val'
locations.head()                                          # display the first 5 rows of the location data

                Y           X
58912   37.738189 -122.501139
395984  37.784189 -122.407634
461633  37.743189 -122.472479
291747  37.808625 -122.412527
425822  37.771274 -122.413189

In [14]:
def drawHeatMap(location, val, zoom, intensity, radius):
    # setting the data and parameters
    heatmap_layer = gmaps.heatmap_layer(locations, val, dissipating = True)
    heatmap_layer.max_intensity = intensity
    heatmap_layer.point_radius = radius
    # draw the heatmap into a figure
    fig = gmaps.figure()
    fig = gmaps.figure(center = [37.75,-122.4], zoom_level=zoom)
    fig.add_layer(heatmap_layer)
    return fig

In [18]:
# set up parameters
zoom=12
intensity=25
radius=3.5

# call the function to draw the heatmap
drawHeatMap(locations, val, zoom, intensity, radius)

Figure(layout=FigureLayout(height='420px'))